:root {
  /* Primary colors */
  --accentSecond: hsl(7, 99%, 70%);
  --accentPrimary: hsl(51, 100%, 49%);
  --graphicDesignText: hsl(167, 40%, 24%);
  /* (graphic design text) */
  --photoText: hsl(198, 62%, 26%);
  /* (photography text) */
  --footerText: hsl(168, 35%, 31%);
  /* (footer) */
  --footerBack: hsl(167, 44%, 70%);
  /* Neutral colors */
  --veryDarkNeutral: hsl(212, 27%, 19%);
  --darkNeutral: hsl(213, 9%, 39%);
  --softNeutral: hsl(232, 10%, 55%);
  --lightNeutral: hsl(210, 4%, 67%);
  --lightText: hsl(0, 0%, 100%);
  --darkText: hsl(0, 0%, 15%);
}

.header__head, .comments, .footer__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

.main {
  width: 100%;
}

/* components */
.header {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/desktop/image-header.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header__head {
  padding: 4rem 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__mobile__icon {
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../assets/images/icon-hamburger.svg") center center no-repeat;
  position: absolute;
  top: 4.7rem;
  right: 4%;
  cursor: pointer;
}

.header__mobile__menu {
  position: absolute;
  top: 14rem;
  left: 100%;
  -webkit-transition: left 300ms linear;
  transition: left 300ms linear;
  width: 92%;
  padding: 4rem;
  list-style: none;
  background-color: var(--lightText);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.header__mobile__menu::after {
  position: absolute;
  top: -16px;
  right: -16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 3.2rem solid transparent;
  border-right: 3.2rem solid transparent;
  border-bottom: 3.2rem solid var(--lightText);
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.header__mobile__menu li {
  font-family: "Fraunces", serif;
  font-weight: 600;
}

.header__mobile__menu li a {
  text-decoration: none;
  color: var(--softNeutral);
  padding: 1.4rem 2.6rem;
  border-radius: 3rem;
}

.header__mobile__menu li:not(:last-of-type) {
  margin-bottom: 5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.header__mobile__menu li:last-of-type a {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--darkText);
  background-color: var(--accentPrimary);
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  padding: 1.8rem 3.2rem;
}

.header__element {
  font-family: "Barlow", sans-serif;
  color: var(--lightText);
}

.header__element--logo {
  font-size: 3.2rem;
}

.header__menu {
  list-style: none;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li:not(:last-of-type) {
  margin-right: 3.6rem;
}

.header__menu li:last-of-type a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: var(--darkText);
  background-color: var(--lightText);
}

.header__menu li:last-of-type a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--lightText);
}

.header__menu li a {
  text-decoration: none;
  color: var(--lightText);
  padding: 1.6rem 2.4rem;
  border-radius: 3.2rem;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
}

.header__menu li a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--lightText);
}

.header__middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.8rem;
}

.header__call {
  color: var(--lightText);
  font-family: "Fraunces", serif;
  font-size: 4.8rem;
  letter-spacing: 0.8rem;
}

.header__call--arrow {
  width: 48px;
  height: 130px;
  background: url("../../assets/images/icon-arrow-down.svg") center center no-repeat;
  margin-top: 7rem;
}

.mosaic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mosaic__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mosaic__row:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.mosaic__col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mosaic__col__title {
  font-size: 4.8rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--veryDarkNeutral);
}

.mosaic__col__paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  color: var(--lightNeutral);
  line-height: 2.5rem;
  margin: 3.2rem 0;
}

.mosaic__col__button {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--veryDarkNeutral);
  text-decoration: none;
  position: relative;
}

.mosaic__col__button--primary::after {
  content: "";
  width: 110%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--accentPrimary);
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.mosaic__col__button--primary:hover::after {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.mosaic__col__button--second::after {
  content: "";
  width: 110%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--accentSecond);
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.mosaic__col__button--second:hover::after {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.mosaic__image {
  width: 100%;
}

.mosaic__content {
  width: 100%;
  max-width: 466px;
  padding: 0 1.6rem;
}

.mosaic__row:last-of-type > .mosaic__col .mosaic__image {
  position: relative;
}

.mosaic__row:last-of-type > .mosaic__col .mosaic__image__title {
  font-size: 4rem;
  font-family: "Fraunces", serif;
  margin-bottom: 2.4rem;
}

.mosaic__row:last-of-type > .mosaic__col .mosaic__image__paragraph {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 2.7rem;
}

.mosaic__row:last-of-type > .mosaic__col:first-of-type {
  color: var(--graphicDesignText);
}

.mosaic__row:last-of-type > .mosaic__col:last-of-type {
  color: var(--photoText);
}

.mosaic__row:last-of-type > .mosaic__col .mosaic__wrapper__content {
  position: absolute;
  top: 60%;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.comments {
  padding: 20rem 4%;
  text-align: center;
}

.comments h2 {
  font-size: 2.4rem;
  font-family: "Fraunces", serif;
  color: var(--lightNeutral);
  letter-spacing: .6rem;
  margin-bottom: 9.6rem;
}

.comments__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__single {
  width: 33.3%;
  height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__single img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.comments__single__comment {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 2.8rem;
  color: var(--darkNeutral);
  padding: 0 3.2rem;
}

.comments__single__identifier--name {
  font-size: 2rem;
  color: var(--veryDarkNeutral);
  font-family: "Fraunces", serif;
  margin-bottom: .8rem;
}

.comments__single__identifier--occupation {
  color: var(--lightNeutral);
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

.lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lists__single {
  width: 25%;
}

.footer {
  padding: 5rem 4%;
  background-color: var(--footerBack);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__title {
  font-family: "Barlow", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--footerText);
  margin-bottom: 3.2rem;
}

.footer__nav {
  width: 100%;
}

.footer__nav ul {
  width: 100%;
  list-style: none;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav ul li a {
  text-decoration: none;
  color: var(--footerText);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  padding: 0.4rem 0.8rem;
}

.footer__nav ul li a:hover {
  color: var(--lightText);
}

.footer__nav--menu {
  max-width: 30rem;
  margin-bottom: 5.6rem;
}

.footer__nav--social {
  max-width: 18rem;
}

.footer__nav--social ul > li > a > img {
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.footer__nav--social ul > li > a:hover > img {
  -webkit-filter: brightness(600%);
          filter: brightness(600%);
}

/* responsive */
@media (max-width: 1024px) {
  .mosaic__col__title {
    font-size: 3.2rem;
  }
  .mosaic__col__paragraph {
    font-size: 1.6rem;
  }
  .mosaic__col__button {
    font-size: 1.6rem;
  }
  .mosaic__content {
    max-width: 430px;
  }
  .mosaic__row:last-of-type > .mosaic__col .mosaic__image__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .mosaic__row:last-of-type > .mosaic__col .mosaic__image__paragraph {
    font-size: 1.4rem;
  }
  .mosaic__row:last-of-type > .mosaic__col .mosaic__wrapper__content {
    top: 55%;
  }
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 769px) {
  .desktop-hidden {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */