:root{
    /* Primary colors */

    --accentSecond: hsl(7, 99%, 70%);
    --accentPrimary: hsl(51, 100%, 49%);
    --graphicDesignText: hsl(167, 40%, 24%); /* (graphic design text) */
    --photoText: hsl(198, 62%, 26%); /* (photography text) */
    --footerText: hsl(168, 35%, 31%); /* (footer) */
    --footerBack: hsl(167, 44%, 70%);

    /* Neutral colors */

    --veryDarkNeutral: hsl(212, 27%, 19%);
    --darkNeutral: hsl(213, 9%, 39%);
    --softNeutral: hsl(232, 10%, 55%);
    --lightNeutral: hsl(210, 4%, 67%);
    --lightText: hsl(0, 0%, 100%);
    --darkText: hsl(0, 0%, 15%);
}

%container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}