:root{
    /* Primary colors */

    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkCyan: hsl(167, 40%, 24%); /* (graphic design text) */
    --darkBlue: hsl(198, 62%, 26%); /* (photography text) */
    --moderateCyan: hsl(168, 34%, 41%); /* (footer) */


    /* Neutral colors */

    --veryDarkBlue: hsl(212, 27%, 19%);
    --darkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 15%);
}

%container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}