.header {
    width: 100%;
    height: 100vh;
    max-height: 900px;
    min-height: 480px;

    background: url("../../assets/images/desktop/image-header.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__head {
        @extend %container;
        padding: 4rem 4%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        position: relative;
    }

    // menu mobile
    &__mobile {

        &__menu {
            position: absolute;
            top: 14rem;
            left: 100%;
            transition: left 500ms linear;
            width: 92%;
            padding: 4rem;

            list-style: none;
            background-color: var(--lightText);

            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 2rem;

            &::after {
                position: absolute;
                top: -16px;
                right: -16px;

                content: "";
                width: 0;
                height: 0;
                border-left: 3.2rem solid transparent;
                border-right: 3.2rem solid transparent;
                border-bottom: 3.2rem solid var(--lightText);
                transform: rotateZ(-90deg);
            }

            li {
                font-family: "Fraunces", serif;
                font-weight: 600;
                a {
                    text-decoration: none;
                    color: var(--softNeutral);

                    padding: 1.4rem 2.6rem;
                    border-radius: 3rem;
                }

                &:not(:last-of-type) {
                    margin-bottom: 5rem;
                    font-family: "Barlow", sans-serif;
                    font-weight: 500;
                }

                //last button
                &:last-of-type a {
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    color: var(--darkText);

                    background-color: var(--accentPrimary);
                    filter: brightness(105%);
                    padding: 1.8rem 3.2rem;
                }
            }
        }
    }

    &__element {
        font-family: "Barlow", sans-serif;
        color: var(--lightText);

        &--logo {
            font-size: 3.2rem;
        }

        &--menu{
            width: 500px;
        }
    }

    &__menu {
        width: 100%;
        list-style: none;
        font-size: 1.8rem;

        display: flex;
        justify-content: space-between;

        li {
            &:last-of-type a {
                font-family: "Fraunces", serif;
                text-transform: uppercase;
                color: var(--darkText);

                background-color: var(--lightText);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                    backdrop-filter: blur(10px);
                    color: var(--lightText);
                }
            }

            a {
                text-decoration: none;
                color: var(--lightText);

                padding: 1.6rem 2.4rem;
                border-radius: 3.2rem;
                transition: color 200ms ease, background-color 200ms ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                    backdrop-filter: blur(10px);
                    color: var(--lightText);
                }
            }
        }
    }

    &__middle {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4.8rem;
    }

    &__call {
        color: var(--lightText);
        font-family: "Fraunces", serif;
        font-size: 4.8rem;
        letter-spacing: 0.8rem;
        

        &--arrow {
            width: 48px;
            height: 130px;
            background: url("../../assets/images/icon-arrow-down.svg") center center no-repeat;

            margin-top: 7rem;
        }
    }
}
